<section class="section">
    <div class="columns">
        <div class="column is-one-third is-offset-one-third">
            <div class="box">
                <h2 class="title is-3">Create your Profile</h2>
                <p>You can edit your profile at any time from your profile page.</p>
                <%= render 'form', profile: @profile %>
            </div> 
        </div>
    </div>
</section>