<section class="section">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
    <%= render 'posts/post', post: @post %>
    
    <%= render 'form', comment: [@post, @comment] %>
</div>
</div>
</section>