<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <% @users.each do |user| %>
                <div class="box">
                    <%= render 'users/user', user: user %>
                </div>
            <% end %>
        </div>
    </div>
</section>