<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            
            <div class="content">
            <h1>FriendSpace's Privacy Policy</h1>
            <p>
                FriendSpace stores the least amount of data possible while ensuring a positive user experience. Data stored includes:
            </p>
            <ul>
                <li>Email address (to create your account)</li>
                <li>Basic profile information (first name, last name, etc.)</li>
                <li>Profile picture</li>
            </ul>
            <p>
                You can edit your profile information at any time. 
            </p>

            <h2>Deleting your Data</h2>
            <p>
                Any user data, including data retrieved from Facebook authentication, will be automatically deleted when you delete your account. 
            </p>
            <p>
                You can delete your account at any time from the User profile panel (on the lefthand side of your timeline).
            </p>
            </div>
        </div>
    </div>
</section>