<section class="section">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
<div class="box">
<% render 'form', post: @post, post_form_label: "Edit Post", post_form_submit: "Save Post" %>
</div>
</div>
</div>
</section>
