<section class="section">
<div class="columns">
<div class="column is-half is-offset-one-quarter">

<div class="box">
    <%= render 'form', post: @post %>
</div>


<% @posts.each do |post| %>
    <%= render 'post', post: post %>
<% end %>

</div>

</div>
</section>

