<section class="section">
<div class="columns">

<div class="column is-one-quarter">
    <%= render 'shared/user_panel' %>
</div>

<div class="column is-half">

<div class="box">
    <%= render 'form', post: @post %>
</div>


<% @posts.each do |post| %>
    <%= render 'post', post: post %>
<% end %>

</div>

</div>
</section>

